<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="/images/cubeofmeat-favicon-gaming.png" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/xp.css@0.2.3/dist/XP.css" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
</head>

<body class="main-container games-page game-detail-page">
    <main class="window">
        <div class="title-bar">
            <div class="title-bar-text">{{ title }}</div>
            <form class="title-bar-controls" action="/games/" method="get">
                <button type="submit" aria-label="Close"></button>
            </form>
        </div>
        <div class="window-body">
            {{ content | gameFormat: ratings, reportCard }}
        </div>
    </main>
    {% include "site-footer.html", showBackToTop: true %}
</body>

</html>
