<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ title }}</title>
  <link rel="icon" type="image/x-icon" href="/images/cubeofmeat-favicon-gaming.png" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/snes.css@1.0.1/dist/snes.min.css" />
  <link rel="stylesheet" type="text/css" href="/index.css" />
</head>

<body class="main-container">
  <a href="/games" id="back-button" class="snes-button has-plumber-color">X</a>
  <div class="snes-container has-aged-yellow-bg">
    {{ content | gameFormat }}
  </div>
</body>

</html>